@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Karla&display=swap");
@import "~react-bulma-components/src/index.sass";

body {
  margin: 0;
  font-family: "Karla", "Fugaz One", "-apple-system", " BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Fugaz One", "Karla", monospace;
}

/* ---------------Company Profile Setup------------*/

.Bugnas-text {
  font-size: 20px;
  color: #ffffff;
  margin-top: 26px;
  margin-left: 30px;
  font-family: Fugaz One;
}

.Form-1-div {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 930px;
  margin: 7%;
  display: flex;
  flex-wrap: wrap;
}
.Form-1-div .signUp-form-wrapper {
  width: 550px;
}

.Form-1-div .left-col {
  background: #ad77c0;
  height: 490px;
  width: 340px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
}

.Form-1-div .text-container .para-one {
  color: #ffffff;
  font-family: Karla;
  font-size: 18px;
  margin-top: 28px;
  font-weight: bold;
  margin-left: 50px;
}

.Form-1-div .text-container .para-two {
  color: #ffffff;
  font-family: Karla;
  font-size: 14px;
  margin-top: 70px;
  font-weight: bold;
  margin-left: 50px;
}

.Form-1-div .instruction {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.Form-1-div .link-words {
  color: #ad77c0;
  font-weight: bold;
}

.link-words {
  color: #ad77c0;
  font-weight: bold;
}

.Form-1-div .Form-input {
  width: 80% !important;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px !important;
}

.form-header {
  color: #000000;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
}

.Form-1-div .sign-up-button {
  background: #ad77c0;
  width: 50%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
  transition: 300ms;
}
.Form-1-div .sign-up-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  width: 50%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
}

.support-button-section {
  display: flex;
  justify-content: space-between;
}

.set-up-account {
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 34px;
  margin-top: -20px;
}

.support-button-section {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.support-button-section .cps-form-backButton {
  height: 40px;
  font-size: 18px;
  font-family: Karla;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  font-weight: "bold";
  transition: 300ms;
}
.support-button-section .cps-form-backButton:hover {
  transform: translateY(-5px);
  height: 40px;
  font-size: 18px;
  font-family: Karla;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  font-weight: "bold";
}

/*---sign Up 2 ---*/
.Form-2-div {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 650px;
  margin-top: 3%;
  margin-left: 14%;
  text-align: center;
}
.Form-2-div .instruction {
  color: #000000;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
}

.Form-2-div .instruction-1 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-left: 34px;
  margin-top: 5px;
}

.Form-2-div .instruction-2 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-bottom: "10px";
}

.Form-2-div .form-content {
  display: flex;
  justify-content: space-evenly;
}
.Form-2-div .input-box {
  width: 100% !important;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px !important;
}

.Form-2-div .sign-up-button {
  background: #ad77c0;
  width: 93%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
  transition: 300ms;
  margin-bottom: 25px;
}
.Form-2-div .sign-up-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  width: 93%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 25px;
}

.signUp-form-wrapper .account-details {
  margin-left: 31px;
}

.footer-button .white-button {
  margin-right: 24%;
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
}

.footer-button .Purple-button {
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ad77c0;
  color: #ffffff;
  transition: 300ms;
}
.footer-button .Purple-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  color: #ffffff;
}

/* --signUp-3 --*/

.invite-friends {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  margin-top: 60px;
  margin-left: 256px;
}
.invite-friends .instruction {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-left: 34px;
}
.invite-friends .set-up-account {
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 34px;
  height: 34px;
}
.invite-friends .set-up-account .great-job {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
}
.invite-friends .invite-emails .input-fields {
  margin-left: 7%;
  width: 100%;
}
.invite-friends .invite-emails .input-box {
  width: 60%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 3%;
}
.invite-friends .invite-emails .input-fields .select-authority {
  width: 150px;
  background: #ffffff;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Karla;
  font-weight: bold;
  margin-left: 5%;
}
.invite-friends .invite-emails .white-button {
  border: 2px solid #c4c4c4;
  color: #ad77c0;
  font-family: Karla;
  font-weight: bold;
}
.invite-friends .footer-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 66px;
}
.invite-friends .footer-button .white-button {
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
}
.invite-friends .footer-button .Purple-button {
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ad77c0;
  color: #ffffff;
  transition: 300ms;
}
.invite-friends .footer-button .Purple-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  color: #ffffff;
}

/*-- signUp-4 --*/
.add-first-program {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 595px;
  height: 265px;
  margin-top: 15%;
  margin-left: 20%;
}
.add-first-program .support-button-section {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.add-first-program .set-up-account {
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 34px;
  height: 34px;
}
.add-first-program .set-up-account .header {
  color: #000000;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
}
.add-first-program .footer-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 66px;
}

/*---------------------------------------*/

/* ------Program launching procedures ----- */

.program-container {
  background: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  width: 980px;
  border: 2px solid #a69ea9;
  border-radius: 11px;
}

.program-container .cps-form-backButton {
  margin-left: 104px;
  font-family: Karla;
}

.program-container .footer-button {
  margin-left: 597px;
  margin-bottom: 20px;
  margin-top: 26px;
}

.program-container .footer-button .program-continue {
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ad77c0;
  color: #ffffff;
}

.program-container .footer-button .program-continue .program-button-group {
  background: #ad77c0 !important;
}

.program-container .tabs-list {
  margin-left: 135px;
  width: 632px;
}

.program-container .tabs-list .nav-tabs {
  border: 2px solid #a79dad;
  border-radius: 5px;
  height: 34px;
  align-items: center;
}

.program-container .nav-tabs .nav-link {
  border: none;
  color: #a69ea9;
  font-weight: bold;
  font-family: Karla;
  height: 30px;
  font-size: 14px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  height: 32px;
  color: #495057;
  background-color: #ad77c0 !important;
  font-weight: bold;
  padding: 14px;
  display: flex;
  align-items: center;
}

.upload-section {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.upload-section .white-button {
  width: 80px;
  margin-bottom: 5px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transition: 300ms;
}

.upload-section .white-button:hover {
  width: 80px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transform: translateY(-5px);
}

.agreement-details .terms-list {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  margin-top: 20px;
}

.instruction {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-top: 20px;
}

.set-scope-tables {
  margin-top: 20px;
}

.set-scope-tables .scope-table {
  margin-left: -31px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
}

.set-scope-tables .scope-table .Table {
  width: 75%;
  margin-left: 31px;
}

.set-scope-tables .add-scope .Add-new {
  width: 120px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transition: 300ms;
}
.set-scope-tables .add-scope .Add-new:hover {
  transform: translateY(-5px);
}

.set-scope-tables .scope-table .scope-table-header {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  margin-left: 32px;
  margin-top: 20px;
}
.ant-input:placeholder-shown {
  width: 76%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.name-details .input-instruction {
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}
.name-details .upload-section {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  margin-top: 20px;
}

.name-details .instruction {
  font-size: 13px;
  margin-top: 2px;
}

.name-details .add-icon {
  font-size: 12px;
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  margin-bottom: 10px;
}
.name-details .Form-input {
  width: 76%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.name-details .add-program-details {
  width: 400px;
}

.Rewards .instruction-header {
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.Rewards .radio-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.radio-buttons .radio-option {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.Rewards .reward-table {
  margin-top: 10px;
}

.Review .agreement-points {
  width: 850px;
  margin-top: 40px;
}

.Review .terms-list {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.Review .details {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-bottom: 20px;
}

.Review .program-name {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.Review .topics {
  color: #a69ea9;
  font-family: Karla;
  font-weight: bold;
  font-size: 14px;
}

.Review .upload-pic {
  margin-bottom: 20px;
}

.Review .reward-section .instruction-header {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
}

.Review .radio-buttons {
  margin-bottom: 10px;
}

.Review .reward-section {
  margin-top: 40px;
}

/* ------------------------------------------ */

/* ------Dashboard Section : Side-Bar  ------ */
.side-menu-section .Bugnas-text {
  font-size: 20px;
  color: #000000;
  margin-top: 26px;
  margin-left: 30px;
  font-family: Fugaz One;
}

.ant-dropdown-menu-item {
  color: #a69ea9;
  font-family: Karla;
  font-weight: bold;
}

.side-menu-section .side-menu-options {
  font-size: 16px;
  color: #a69ea9;
  font-family: Karla;
  font-weight: bold;
}
.side-menu-section .ant-menu-item-selected {
  color: #ad77c0;
}
.side-menu-section .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ad77c0;
}

.side-menu-section .menu-list {
  margin-top: 10%;
}
.side-menu-section .profile-dropdown .user-name {
  display: flex;
  margin-left: 10%;
}
.side-menu-section .profile-dropdown .dropdown-button {
  margin-left: 10px;
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 17px;
}

/*-------------------------------------------- */

/* ------Dashboard Section : Program-menu  ------ */
.programs-content .content-header {
  font-family: Karla;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
}
.programs-content .filter-programs {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.programs-content .button-group {
  width: 18%;
  display: flex;
  justify-content: space-between;
}

.programs-content .filter-programs .filter-buttons {
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  color: #a69ea9;
  font-weight: bold;
  font-size: 9px;
  font-family: Karla;
  height: 25px;
}

.ant-input-affix-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 9px;
}

.ant-input:placeholder-shown {
  margin-bottom: 0px;
  width: 80%;
}

.card-list {
  margin-top: 3%;
}

.programs-content .ant-card-body {
  padding: 7%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.programs-content .card-list .card-box {
  width: 300px;
  margin-left: 2%;
  margin-top: 1%;
  transition: 300ms;
}
.programs-content .card-list .card-box:hover {
  transform: translateY(-5px);
  width: 300;
  margin-left: 2%;
  margin-top: 1%;
}

.programs-content .card-list .card-number-data {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 30px;
}

.ant-card-body .ant-card-meta .ant-card-meta-detail .ant-card-meta-title {
  margin-bottom: 0px;
}

.programs-content .footer-button .Purple-button {
  margin-top: 20px;
  width: 20%;
}

/*-----------------program details ---------------*/

.back-button .user-back-button {
  transition: 300ms;
  height: 40px;
  font-size: 18px;
  font-family: Karla;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  font-weight: "bold";
  margin-top: 3%;
}
.back-button .user-back-button:hover {
  transform: translateY(-5px);
}

.program-name-card {
  margin-top: 3%;
}
.program-name-card .title-description .card-title {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 16px;
}
.program-name-card .ant-card-meta {
  margin: 0px;
}
.program-name-card .ant-card {
  width: 61%;
  height: 160px;
}
.program-name-card .ant-card-body {
  padding: 3%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  height: 160px;
}

.program-name-card .edit-button {
  width: 120px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transition: 300ms;
}
.program-name-card .edit-button:hover {
  transform: translateY(-5px);
  width: 120px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
}

.program-details-card {
  margin-top: 3%;
  margin-bottom: 5%;
}
.program-details-card .card-title {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 16px;
}
.program-details-card .ant-card {
  width: 75%;
}
.program-details-card .ant-card-body {
  padding: 3%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.range-table {
  margin-top: 3%;
  width: 75%;
}
.range-table .strip-table {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}
.range-table .table-header {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  width: 200px;
}
.range-table .table-topic {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}
.range-table .table-head {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 16px;
}

.reward-range {
  margin-top: 20%;
}
.reward-range .content-header {
  font-family: Karla;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
}
.reward-range .ant-card {
  height: 122px;
}
.reward-range .ant-card-body {
  padding: 5%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  height: 122px;
}
.reward-range .bounty {
  width: 70%;
  margin-top: 5%;
}
.reward-range .card-number-data {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 30px;
}

.reward-range .bounty .instruction {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-top: 0px;
}

/*----*/

/*-------------------------------------------- */

/*----------DASHBOARD : USERS -----------------*/
.users-content .content-header {
  font-family: Karla;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
}

.users-content .ant-card-body {
  padding: 7%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.users-content .card-list .card-box {
  width: 300px;
  margin-left: 2%;
  margin-top: 1%;
  transition: 300ms;
}
.users-content .card-list .card-box:hover {
  transform: translateY(-5px);
  width: 300;
  margin-left: 2%;
  margin-top: 1%;
}

.users-content .card-list .card-number-data {
  font-family: Karla;
  font-weight: bold;
  font-size: 25px;
}

.users-content .footer-button .Purple-button {
  margin-top: 20px;
  width: 20%;
}
/*-------------------------------------------- */

/*----------DASHBOARD : SUBMISSIONS -----------------*/

.submissions-content {
  margin-top: 3%;
}

.submissions-content .tab-content {
  margin-top: 3%;
  margin-left: 20px;
  width: 90%;
}
.submissions-content .nav-tabs {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  height: 35px;
  margin-left: 20px;
  margin-bottom: 75px;
}

.submissions-content .nav-tabs .nav-link {
  border: 1px solid #a79dad;
  border-radius: 0px;
  color: #000000;
  font-weight: bold;
  font-family: Karla;
  height: 34px;
  font-size: 16px;
  width: 170px;
}

.all-submissions .ant-card-body {
  padding: 7%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  height: 240px;
}

.all-submissions .card-box {
  width: 300px;
  margin-left: 2%;
  transition: 300ms;
}
.all-submissions .card-box:hover {
  transform: translateY(-5px);
  width: 300;
  margin-left: 2%;
}
.all-submissions .card-box .card-title {
  font-family: Karla;
  font-weight: bold;
  color: #000000;
}
.all-submissions .card-box .company-name {
  font-family: Karla;
  font-weight: bold;
  color: #c2c2c2;
}

.all-submissions .ant-card-actions {
  background: #ffffff;
  border: 2px solid #e6e6e6;
}
.all-submissions .card-box .reward {
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
  color: #ad77c0;
}
.all-submissions .card-box .points {
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}
/*-------------------------------------------- */

/*----------DASHBOARD : RESEARCHERS -----------------*/
.researchers .content-header {
  font-family: Karla;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
}

.researchers .ant-card-body {
  padding: 7%;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
}

.researchers .card-list .card-box {
  width: 250px;
  margin-left: 2%;
  margin-top: 1%;
  transition: 300ms;
}
.researchers .card-list .card-box:hover {
  transform: translateY(-5px);
  width: 250;
  margin-left: 2%;
  margin-top: 1%;
}

.researchers .card-list .card-number-data {
  font-family: Karla;
  font-weight: bold;
  font-size: 25px;
}

.researchers .ant-card-actions {
  background: #ffffff;
  border: 2px solid #e6e6e6;
}
.researchers .card-box .reward {
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
  color: #ad77c0;
}
.researchers .card-box .points {
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
}

/*-------------------------------------------- */
