@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Karla&display=swap");
@import "~react-bulma-components/src/index.sass";

body {
  margin: 0;
  font-family: "Karla", "Fugaz One", "-apple-system", " BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Fugaz One", "Karla", monospace;
}

/* ---------------Company Profile Setup------------*/

.Bugnas-text {
  font-size: 20px;
  color: #ffffff;
  margin-top: 26px;
  margin-left: 30px;
  font-family: Fugaz One;
}

.Form-1-div {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 930px;
  margin: 7%;
  display: flex;
  flex-wrap: wrap;
}
.Form-1-div .signUp-form-wrapper {
  width: 550px;
}

.Form-1-div .left-col {
  background: #ad77c0;
  height: 490px;
  width: 340px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
}

.Form-1-div .text-container .para-one {
  color: #ffffff;
  font-family: Karla;
  font-size: 18px;
  margin-top: 28px;
  font-weight: bold;
  margin-left: 50px;
}

.Form-1-div .text-container .para-two {
  color: #ffffff;
  font-family: Karla;
  font-size: 14px;
  margin-top: 70px;
  font-weight: bold;
  margin-left: 50px;
}

.Form-1-div .instruction {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.Form-2-div {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 800px;
  margin: 5%;
}

.Form-2-div .support-button-section {
  display: flex;
  justify-content: space-between;
}

.Form-2-div .set-up-account {
  display: flex;
  justify-content: space-between;
  margin-left: 34px;
  margin-right: 34px;
  margin-top: -20px;
}

.Form-2-div .instruction {
  color: #000000;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
}

.Form-2-div .instruction-1 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-left: 34px;
  margin-top: 5px;
}

.Form-2-div .instruction-2 {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-bottom: "10px";
}

.Form-2-div .form-content {
  margin-left: 48px;
  display: flex;
  justify-content: space-evenly;
}

.Form-2-div .input-box {
  width: 93%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.Form-1-div .link-words {
  color: #ad77c0;
  font-weight: bold;
}

.link-words {
  color: #ad77c0;
  font-weight: bold;
}

.Form-1-div .Form-input {
  width: 50%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form-header {
  color: #000000;
  font-family: Karla;
  font-size: 20px;
  font-weight: bold;
}

.Form-1-div .sign-up-button {
  background: #ad77c0;
  width: 50%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
  transition: 300ms;
}
.Form-1-div .sign-up-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  width: 50%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
}

.Form-2-div .sign-up-button {
  background: #ad77c0;
  width: 93%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
  transition: 300ms;
  margin-bottom: 25px;
}
.Form-2-div .sign-up-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  width: 93%;
  color: #f3f3f3;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  font-weight: bold;
  margin-bottom: 25px;
}

.support-button-section {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.support-button-section .cps-form-backButton {
  transition: 300ms;
  height: 40px;
  font-size: 18px;
  font-family: Karla;
  color: rgba(0, 0, 0, 0.6);
  border: 2px solid #f3f3f3;
  border-radius: 5px;
  font-weight: "bold";
}
.support-button-section .cps-form-backButton:hover {
  transform: translateY(-5px);
}

.signUp-form-wrapper .account-details {
  margin-left: 31px;
}

.footer-button .white-button {
  margin-right: 24%;
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
}

.footer-button .Purple-button {
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ad77c0;
  color: #ffffff;
  transition: 300ms;
}
.footer-button .Purple-button:hover {
  transform: translateY(-5px);
  background: #ad77c0;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  color: #ffffff;
}

.invite-friends {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  margin-top: 60px;
  margin-left: 256px;
}

.add-first-program {
  background: #f7f7f7;
  border: 2px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 8px;
  width: 595px;
  height: 265px;
  margin-top: 191px;
  margin-left: 272px;
}

/*---------------------------------------*/

/* ------Program launching procedures ----- */

.program-container {
  background: #f7f7f7;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 300px;
  width: 980px;
  border: 2px solid #a69ea9;
  border-radius: 11px;
}

.program-container .cps-form-backButton {
  margin-left: 104px;
  font-family: Karla;
}

.program-container .footer-button {
  margin-left: 597px;
  margin-bottom: 20px;
  margin-top: 26px;
}

.program-container .footer-button .program-continue {
  width: 170px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ad77c0;
  color: #ffffff;
}

.program-container .footer-button .program-continue .program-button-group {
  background: #ad77c0 !important;
}

.program-container .tabs-list .nav-tabs {
  border: 2px solid #a79dad;
  border-radius: 5px;
  height: 34px;
  align-items: center;
}

.program-container .nav-tabs .nav-link {
  border: none;
  color: #a69ea9;
  font-weight: bold;
  font-family: Karla;
  height: 30px;
  font-size: 14px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  height: 30px;
  color: #495057;
  background-color: #ad77c0 !important;
  font-weight: bold;
  padding: 14px;
  display: flex;
  align-items: center;
}

.upload-section {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.upload-section .white-button {
  width: 80px;
  margin-bottom: 5px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transition: 300ms;
}

.upload-section .white-button:hover {
  width: 80px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transform: translateY(-5px);
}

.agreement-details .terms-list {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  margin-top: 20px;
}

.instruction {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-top: 20px;
}

.program-container .tabs-list {
  margin-left: 135px;
  width: 632px;
}

.set-scope-tables {
  margin-top: 20px;
}

.set-scope-tables .scope-table {
  margin-left: -31px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
}

.set-scope-tables .scope-table .Table {
  width: 75%;
  margin-left: 31px;
}

.set-scope-tables .add-scope .Add-new {
  width: 120px;
  border: 2px solid #ad77c0;
  border-radius: 5px;
  background: #ffffff;
  color: #ad77c0;
  font-weight: bold;
  transition: 300ms;
}
.set-scope-tables .add-scope .Add-new:hover {
  transform: translateY(-5px);
}

.set-scope-tables .scope-table .scope-table-header {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  margin-left: 32px;
  margin-top: 20px;
}
.ant-input:placeholder-shown {
  width: 76%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.name-details .input-instruction {
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.name-details .instruction {
  font-size: 13px;
  margin-top: 2px;
}

.name-details .add-icon {
  font-size: 12px;
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  margin-bottom: 10px;
}
.name-details .Form-input {
  width: 76%;
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  margin-bottom: 20px;
}

.name-details .add-program-details {
  width: 400px;
}

.Rewards .instruction-header {
  margin-top: 0px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.Rewards .radio-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
}

.radio-buttons .radio-option {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
}

.Rewards .reward-table {
  margin-top: 10px;
}

.Review .agreement-points {
  width: 850px;
  margin-top: 40px;
}

.Review .terms-list {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 0.5rem;
}

.Review .details {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  margin-bottom: 20px;
}

.Review .program-name {
  color: rgba(0, 0, 0, 0.6);
  font-family: Karla;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.Review .topics {
  color: #a69ea9;
  font-family: Karla;
  font-weight: bold;
  font-size: 14px;
}

.Review .upload-pic {
  margin-bottom: 20px;
}

.Review .reward-section .instruction-header {
  color: #000000;
  font-family: Karla;
  font-weight: bold;
}

.Review .radio-buttons {
  margin-bottom: 10px;
}

.Review .reward-section {
  margin-top: 40px;
}

/* ------------------------------------------ */

/* ------Dashboard Section : Side-Bar  ------ */
.side-menu-section .Bugnas-text {
  font-size: 20px;
  color: #000000;
  margin-top: 26px;
  margin-left: 30px;
  font-family: Fugaz One;
}

.ant-dropdown-menu-item {
  color: #a69ea9;
  font-family: Karla;
  font-weight: bold;
}

.side-menu-section .side-menu-options {
  font-size: 16px;
  color: #a69ea9;
  font-family: Karla;
  font-weight: bold;
}
.side-menu-section .ant-menu-item-selected {
  color: #ad77c0;
}
.side-menu-section .ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #ad77c0;
}

.side-menu-section .menu-list {
  margin-top: 10%;
}
.side-menu-section .profile-dropdown .user-name {
  display: flex;
  margin-left: 10%;
}
.side-menu-section .profile-dropdown .dropdown-button {
  margin-left: 10px;
  color: #000000;
  font-family: Karla;
  font-weight: bold;
  font-size: 17px;
}

/*-------------------------------------------- */

/* ------Dashboard Section : Program-menu  ------ */
.programs-content .header {
  font-family: Karla;
  font-weight: bold;
  font-size: 22px;
  margin-top: 2%;
}
.programs-content .filter-programs {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

.programs-content .button-group {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.programs-content .filter-programs .filter-buttons {
  background: #f3f3f3;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  color: #a69ea9;
  font-weight: bold;
  font-size: 9px;
  font-family: Karla;
  height: 25px;
}

.ant-input-affix-wrapper {
  border: 1px solid #d9d9d9;
  border-radius: 9px;
}

.ant-input:placeholder-shown {
  margin-bottom: 0px;
  width: 80%;
}

.programs-content .card-list {
  margin-top: 8%;
}
/*-------------------------------------------- */
