@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Karla&display=swap");

body {
  margin: 0;
  font-family: "Karla", "Fugaz One", "-apple-system", " BlinkMacSystemFont",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Fugaz One", "Karla", monospace;
}

/* ---------------Dashboard CSS data below------------*/

.container .ant-card-body {
  padding: 0px;
}

.ant-list-item-meta-title {
  margin-bottom: -3px;
}

.ant-statistic-content-value-int {
  margin-left: 11px;
}

.ant-statistic-title {
  font-weight: bold;
  font-size: 12px;
}

/*---------------------------------------*/

/* ---------------Company Profile Setup------------*/

.sign-up-button {
  transition: 300ms;
}
.sign-up-button:hover {
  transform: translateY(-5px);
}
/*---------------------------------------*/
